.details-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 48px 24px;
}

.details-title{
    font-size: 26px;
    font-weight: 600;
    line-height: 20px;    
}

.details-title-options{
    display: flex;
    gap: 16px;
}

.details-title-options-text{
    color: var(--subtitle-font);
    font-weight: 600;
    font-size: 14px;
}

.details-title-options-text:hover{
    background-color: var(--light-grey);
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.img-flex{
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.imgs{
    display: flex;
    justify-content: center;
}

.img-big{
    width: 70%;
    height: auto;
    margin-right: 8px;
}

.img-big img{
    height: 50vh;
    width: 50vw;
    object-fit: cover;
    border-radius: 10px;
}

.img-big img:hover{
    filter: brightness(0.8);
    transition: all 0.2s;
    cursor: pointer;
}

.img-small{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 8px;
}

.img-small img {
    height: 25vh;
    width: 18vw;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .img-small img:hover {
    filter: brightness(0.8);
    transition: all 0.2s;
    cursor: pointer;
  }

.info{
    padding: 32px 48px;
}

.info-title{
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}

.info-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--subtitle-font); 
}

.calification{
    margin-left: 48px;
    padding: 0px 48px;
    display: flex;
    justify-content: flex-center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--grey);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 40vw;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    cursor: pointer;
}

.calification-section{
    padding: 12px 12px 0px 0px;
    border-right: 1px solid var(--grey);
}

.calification-section1{
    padding: 12px 12px 0px 0px;
}