.filter-div{
    padding: 100px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
    margin: 0px 48px;
}
.links-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    margin: 16px;
    opacity: 0.5;
    border-bottom: 1px solid var(--white);
    min-width: 85px;
}
.links-box:hover, .selected-box{
    opacity: 1;
    border-bottom: 1px solid var(--black);
    transition: all 0.3s;
    cursor: pointer;
}

.links-img{
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.links-label{
    font-size: 11.2px;
    font-weight: 800;
    color: var(--font-grey);
}

.selected-label{
    color: var(--black);
}